h2 {
    text-align: center;
    font-size: 2em;
    color: #264653;
    margin-top: 60px;
    margin-bottom: 40px;
}

h3{
    margin: 1.2em 0 1.2em 1.2em;
}

p {
    text-align: center;
    font-size: 1.2em;
    max-width: 800px;
}

/* Secțiunea Badge-urilor */
#badgeSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#badgeContainer{
    background-color: #0000001a;
    border-radius: 8px;
    margin-bottom: 3em;
    padding: 3em;
    height: 30em;
}

.badge-card {
    background-color: #fff;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}

.badge-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.badge-card img {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
}

.badge-card h4 {
    font-size: 1.4em;
    color: #264653;
    margin-bottom: 10px;
}

.badge-card p {
    font-size: 1em;
    color: #555;
}





/* Stilizare pentru containerul de carduri */
.badge-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

/* Stilizare pentru fiecare card */
.badge-card {
    background-color: #fff;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Stilizare pentru imagine */
.badge-card .badge-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Stilizare pentru titlu */
.badge-card h4 {
    font-size: 1.2em;
    color: #264653;
    margin-bottom: 10px;
}

/* Stilizare pentru descriere */
.badge-card p {
    font-size: 0.9em;
    color: #555;
}
