*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #7AB2B2;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

#authContainer, #chatContainer, #badgeContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#authForm, #journalForm {
    display: flex;
    flex-direction: column;
}

#authForm input, #journalForm textarea {
    margin-bottom: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
}
a:visited{
    color:white;
}
a:link{
    color:white;
}
button{
    background-color: #4D869C;
    color:white;
    border-radius: 1em;
    padding: 0.6em;
    border: none;
}